.d1{
    height: 300px;
    width: 400px;
    
    margin-left: 4%;
    margin-right: 4%;
    
}
.detail{
    margin: 1% 4% 2% 4%;
}
.cdetail2{
    margin-right: 4%;
margin-left: 6%;
margin-bottom: 1%;
margin-top: 5%;

}
.center{
    margin-left: auto;
margin-right: auto;
width: 1200px;

}
#book{
    margin-left: 25%;
    margin-bottom: 2%;
}
.checked {
    color: orange;
  }
.body{
    background-color: lightgray;
}